<section class="container">
    <div class="row text-center p-3">
        <div class="col">
            <h1>Proyectos Recientes</h1>
        </div>        
    </div>
    <div class="row text-center">
        <div class="col">
            <p>Una selección de proyectos recientes</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid"  src="~/Content/img/Proyecto_1.jpg" />
        </div>
        <div class="col">
            <img class="img-fluid" src="~/Content/img/Proyecto_2.jpg" />
        </div>
        <div class="col">
            <img class="img-fluid" src="~/Content/img/Proyecto_3.png" />
        </div>
    </div>
</section>