<section>
    <div class="row">
        <div class="col">
            <h1>Hola, Soy Fabiola</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Creo que ser creativo y cuidar de uno mismo son dos elementos importantes que hacen que la vida sea divertida y satisfactoria.

            </p>
            <p>
                Esta curiosidad me ha llevado a aprender más sobre el diseño de productos, la sostenibilidad, el marketing online y cómo se pueden combinar la tecnología y el bienestar holístico. Esto finalmente me ha llevado al diseño de interfaz de usuario.
            </p>
            <p>
                Quiero crear grandes diseños que inspiren y motiven a los usuarios a realizar cambios sostenibles y saludables en diferentes aspectos de sus vidas. Estoy particularmente interesado en empresas con un fuerte espíritu sostenible, contribuyendo positivamente a la comunidad.
            </p>
            <p>
                Actualmente estoy buscando trabajo por contrato, freelance o remoto. También estoy abierto a la creación de redes y la colaboración. Puede ver mi currículum a continuación o ponerse en contacto para obtener más información.
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button type="button" class="btn btn-dark">Ver curriculum</button>
            <button type="button" class="btn btn-dark">Contáctame</button>
        </div>
       
    </div>
</section>